.page{
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  height: calc(100vh - 40px);
}
header h1,
header .form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}
main .movies{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
  overflow-y: auto;
  padding-right: 12px;
}

.movie{
  height: auto;
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 6px;
}
.movie img{
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
}
.movie h2{
  font-size: 1rem;
  margin: 0;
}
